.dashboard
  display: flex
  flex-flow: row wrap
  padding: 0.5em
  min-height: calc(100vh - 3em)
  justify-content: space-between
  .full-screen
    position: absolute
    top: 0
    right: 0
    padding: 0.5em
    opacity: 0.7
    &:hover
      cursor: pointer
    img
      width: 2em
      filter: invert(71%) sepia(27%) saturate(4458%) hue-rotate(125deg) brightness(96%) contrast(103%)
