.create-container
  display: flex
  flex-direction: column
  & > div
    height: calc(100vh - 54px)
    justify-content: center
    display: flex
    align-items: center
    &.hide
      display: none
