{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "rules": {
    "space-before-function-paren": [2, "never"],
    "comma-dangle": ["error", "never"],
    "class-methods-use-this": ["off"]
  },
  "settings": {
      "react": {
        "version": "detect"
      }
  }
}
