.timeline
  position: relative
  border: 1px solid #000
  margin-bottom: 0.5em
  flex-basis: 33.3333%
  display: flex
  font-size: 0.75em
  .title
    position: absolute
    top: 0
    left: 0
    padding: 0.25em 0.5em
  .timeline-card
    flex-basis: calc(25% - 2em)
    border: 1px solid #000
    margin: 2em 1em 1em 1em
