.nav-panel
  display: flex
  flex-direction: column
  .header
    display: flex
    flex-direction: row
    background-color: #1E1E1E
    color: #E2E2E2
    margin-top: 1em
    width: 100%
    .back-nav
      display: flex
      flex-grow: 1
      align-items: center
      justify-content: center
      svg:hover
        cursor: pointer
    .title
      flex-grow: 3
