.scenarios
  display: flex
  align-items: center
  overflow-y: hidden
  height: calc(100vh-54px)
  &.center
    justify-content: center
  a
    margin: 0 1em
    &:first-child
      padding-left: 4em
      margin-left: 0
    &:last-child
      margin-right: 0
      padding-right: 4em
    .card
      width: calc(50vw - 8em)
