.clue-condition-icon
  margin-right: 1em
  svg
    color: #03DAC6
  img
    padding: 0.25em
    width: 1.5em
    filter: invert(71%) sepia(27%) saturate(4458%) hue-rotate(125deg) brightness(96%) contrast(103%)
