.time-scale
  position: absolute
  bottom: 0
  left: 0
  right: 0
  z-index: 0
  .scale, .info
    display: flex
    padding: 0 0.25em
    .scale-item
      border-bottom: 1px solid #000
      border-right: 1px solid #000
      height: 5px
      flex-basis: 25%
      &:first-child
        border-left: 1px solid #000
    .info-item
      flex-basis: 25%
