.skill
  display: flex
  padding: 0.25em
  flex-basis: calc(50% - 0.5em)
  .name, .percent
    margin-right: 0.25em
  .half, .fifth
    border: 1px solid #000
    width: 15px
    display: flex
    justify-content: center
  .fifth
    border-left: none
