.combat-stats
  display: flex
  flex-direction: column
  margin-left: 0.25em
  & > div
    display: flex
  .combat-stat
    margin-right: 0.25em
    span
      flex-grow: 1
      &:first-child
        margin-right: 0.25em
