.weapons
  display: flex
  flex-direction: column
  margin-right: 0.
  flex-grow: 1
  border-right: 1px solid #000
  .weapon-title
    display: flex
    .weapon-item
      margin-right: 0.25em
      flex-basis: calc(11.1111% - 0.25em)
  .weapons-list
    display: flex
    flex-direction: column
