.skill
  display: flex
  padding: 0.25em
  flex-basis: calc(50% - 0.5em)
  &:hover
    cursor: pointer
  .name
    flex-basis: 50%
  .name, .percent
    margin-right: 0.5em
  .mastery-calcul
    display: flex
    font-size: 0.75em
    font-style: italic
    align-items: center
    color: #BB86FC
    &.hide
      display: none
    .half
      padding-right: 0.15em
