.pnj-overview
  display: flex
  flex-direction: column
  align-content: space-between
  flex-basis: 40%
  &.minimize
    flex-basis: 100%
    padding: 0
    img
      max-height: 5em
    &:hover
      cursor: pointer
  .card-wrapper
    margin-bottom: 1em
