.stats
  display: flex
  margin-bottom: 0.25em
  .photo
    margin-right: 0.25em
    img
      max-width: 75px
  .v-stats
    display: flex
    flex-direction: column

@media (max-width: 1280px)
  .stats .photo img
    max-width: 40px
