.place-overview
  display: flex
  flex-direction: column
  align-content: space-between
  flex-basis: 80%
  .card-wrapper
    position: relative
    margin-bottom: 1em
  .inside-places
    display: flex
    font-size: 0.75em
    justify-content: space-between
