.weapon-mastery
  display: flex
  cursor: pointer
  .mastery
    margin-right: 0.5em
  .mastery-details
    display: flex
    font-size: 0.75em
    font-style: italic
    align-items: center
    color: #BB86FC
    &.hide
      display: none
    div:first-child
      padding-right: 0.15em
