.weapon-details
  display: flex
  cursor: pointer
  .dmg
    margin-right: 0.5em
  .other-details
    display: flex
    font-size: 0.75em
    font-style: italic
    align-items: center
    color: #BB86FC
    &.hide
      display: none
    & > div
      margin-right: 0.5em
