.pnjs
  flex-basis: 40%
  padding-top: 1em
  .pnj
    padding: 0.25em
    display: flex
    border: 1px solid #000
    font-size: 0.65em
    margin-bottom: 0.5em

@media (max-width: 1280px)
  .pnjs .pnj
    font-size: 0.5em
