.places-modification
  display: flex
  width: 100%
  .add-place
    width: 150px
    height: 200px
    border: 1px solid #03DAC6
    border-radius: 10px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    svg
      color: #03DAC6
  .card
    max-width: calc(150px - 1.5em)
    max-height: calc(200px - 1.5em)
    margin-left: 1em
